html body{
    margin: 0px;
    color: #604a40;
    font-size: 18px;
    position: relative;
    letter-spacing: 3px;
    /* font-family: '微軟正黑體'; */
    /* font-family: 'Noto Sans TC', '微軟正黑體', sans-serif; */
}

a{
    color: #604a40;
}

/* 只有logo、menu-open 顏色不一樣 */

.logo{
    width: 30px;
    height: 30px;
    background: url('../img/share/icon-brown.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    position: absolute;
    top: 25px;
    left: 30px;
}

.menu-open{
    width: 20px;
    height: 20px;
    background: url('../img/share/menu-brown.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    position: absolute;
    top: 30px;
    right: 50px;
    cursor: pointer;
}

/* 只有logo、menu-open 顏色不一樣 */

/* 右側也會不同 */

.left-float{
    font-size: 0.5em;
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    writing-mode: vertical-rl;
    color: #604a40;
    font-family: 'GoudyOldStyle';
}

.right-float{
    position: absolute;
    right: 42px;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right-fb{
    width: 20px;
    height: 20px;
    background: url('../img/share/fb-brown.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    cursor: pointer;
}

.right-fb:hover{
    opacity: 0.6;
}

.right-ig{
    width: 20px;
    height: 20px;
    background: url('../img/share/ig-brown.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    cursor: pointer;
}

.right-ig:hover{
    opacity: 0.6;
}
.right-line{
    width: 20px;
    height: 20px;
    background: url('../img/share/line-brown.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    cursor: pointer;
}

.right-line:hover{
    opacity: 0.6;
}

/* 右側也會不同 */

.main{
    width: 100vw;
    height: 100vh;
    background: url('../img/share/marble.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 0px;
}
.office-main{
    width: 100vw;
    height: 100vh;
    background: url('../img/share/marble.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desktop-mode {
    display: flex;
}

.phone-mode {
    display: none;
}

.sub-main{
    display: flex;
    max-width: 825px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.caption{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caption-float {
    position: fixed;
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-eng{
    font-size: 16px;
    font-family: 'GoudyOldStyle';
}

.title-word{
    margin: 10px 0px 50px;
    font-size: 16px;
    letter-spacing: 10px;
}

.back{
    border-radius: 100px;
    border: 0.5px solid #604a40;
    width: 100px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 0.8em;
    cursor: pointer;
}

.back:hover{
    /* opacity: 0.6; */
}

.rotate{
    width: 70%;
}

.portfolio-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 30%;
}
.portfolio-content-img{
    width: 250px;
    height: 250px;
    margin-bottom: 25px;
    margin-right: 25px;
}
.portfolio-content-img:hover{
    opacity: 0.6;
    transition:all 0.6s;
    transform:scale(1.1);
}

.unit{
    cursor: pointer;
}

/* .unit:hover{
    opacity: 0.6;
} */

.unit-img{
    width: 100%;
    border-radius: 100px;
    transition: all 0.3s;
}

.unit-num{
    font-size: 0.8em;
    text-align: center;
    margin: 10px 0px 10px;
    font-family: 'GoudyOldStyle';
}

.unit-word{
    font-size: 0.8em;
    text-align: center;
    line-height: 22px;
}

.next-img{
    width: 30px;
    height: 50px;
    margin-left: 50px;
    cursor: pointer;
}

/* 隱藏選單 */

.select-form {
    display: none;
}

.form-open {
    display: none;
}

@media( max-width: 1023px ){

    /* 消失 */

    .left-float {
        display: none;
    }

    .right-float {
        display: none;
    }

    .next-img {
        display: none;
    }

    .caption {
        display: none;
    }

    .caption-float {
        display: none;
    }

    /* 輪播 */

    .main{
        width: 100vw;
        height: 100%;
        background: url('../img/share/marble.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 200px;
    }
    
    .office-main{
        width: 100vw;
        height: 100%;
        background: url('../img/share/marble.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 200px;
    }
    .sub-main a{
      width: 90%;
    }
    .portfolio-content-img{
        margin-right: 0px;
        width: 100%;
        height: 100%;
    }

    /* .desktop-mode {
        display: none;
    } */

    .phone-mode {
        display: flex;
    }

    .sub-main{
        width: 100%;
    }

    .rotate{
        width: 100%;
    }

    .href-img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .unit-img{
        width: 95%;
        border-radius: 100px;
        transition: all 0.6s;
    }

    .eng-word{
        font-size: 0.8em;
        margin-bottom: 8px;
        color: #604a40;
        text-align: center;
        margin-top: 12px;
        font-family: 'GoudyOldStyle';
    }
    
    .ch-word{
        font-size: 0.8em;
        color: #604a40;
        text-align: center;
    }

    /* swiper shadow delete */

    .swiper-container-3d .swiper-slide-shadow-left {
        display: none!important;
    }

    .swiper-container-3d .swiper-slide-shadow-right {
        display: none!important;
    }



    /* 上方選單 */

    .select-form {
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0px;
        left: 0px;
        color: #604a40;
        font-size: 14px;
        top: 100px;
    }

    .form-box {
        width: 290px;
        display: flex;
        justify-content: center;
        background-color: #fff;
        border: 1px solid #f2e3d8;;
        border-radius: 30px;
        padding: 8px 12px;
        letter-spacing: 2px;
    }

    .form-arrow {
        position: absolute;
        top: 50%;
        /* right: 50%; */
        transform: translate(-50%, -50%) rotate(90deg);
        width: 12px;
        height: 12px;
        margin: 0px 0px 0px 285px;
        display: none;
    }

    .form-open {
        width: 100%;
        display: none;
        justify-content: center;
        position: fixed;
        top: 0px;
        left: 0px;
        color: #604a40;
        font-size: 14px;
        top: 100px;
        z-index: 1;
        transition: all 0.6s;
    }

    .form-open-box {
        width: 290px;
        background-color: #fff;
        border: 1px solid #f2e3d8;;
        border-radius: 20px;
        padding: 8px 12px;
    }

    .form-head {
        display: flex;
        justify-content: center;
    }

    .form-open-arrow {
        position: absolute;
        top: 50%;
        /* right: 50%; */
        transform: translate(-50%, -50%) rotate(90deg);
        width: 12px;
        height: 12px;
        transform: rotate(270deg);
        margin: 0px 0px 0px 270px;
        display: none;
    }

    .form-line-box {
        height: 20px;
    }

    .form-line {
        height: 1px;
        width: 270px;
        background: #f2e3d8;
        margin: 10px auto 0px;
    }

    .form-a {

    }

    .form-text-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 240px;
        margin: 0px auto 18px;
        font-size: 12px;
    }

    .form-en {
        font-family: 'GoudyOldStyle';
    }

    .form-text {
        letter-spacing: 5px;
    }

}